data
tutorial_model.pth
.ipynb_checkpoints/
venv_pytorch_pyro/
pyro_pytorch_venv/
pyro/
.DS_Store
trained_models
pytorch_tb/datasets/
scanpy_anndata/data/
llm_tb/ch5-pretraining/data/
llm_tb/ch5-pretraining/gpt2/

